@using myFinancas.MVC.Models.Enuns;
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item @(ViewBag.active == "Dashboard" ? "active" : "")">
            <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
                <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.DASHBOARD)</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item @(ViewBag.active == "Cartao" ? "active" : "")">
            <a class="nav-link" href="@Url.Action("Index", "Cartao")">
                <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.CARTOES)</i>
                <p>Cartões</p>
            </a>
        </li>
        <li class="nav-item @(ViewBag.active == "Fatura" ? "active" : "")">
            <a class="nav-link" href="@Url.Action("Index", "Fatura")">
                <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.FATURAS)</i>
                <p>Faturas</p>
            </a>
        </li>
        <li class="nav-item @(ViewBag.active == "Comprador" ? "active" : "")">
            <a class="nav-link" href="@Url.Action("Index", "Comprador")">
                <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.COMPRADORES)</i>
                <p>Compradores</p>
            </a>
        </li>
        <li class="nav-item @(ViewBag.active == "Divida" ? "active" : "")">
            <a class="nav-link" href="@Url.Action("Index", "Divida")">
                <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.DIVIDAS)</i>
                <p>Dividas</p>
            </a>
        </li>
        <li class="nav-item @(ViewBag.active == "Relatorio" ? "active" : "")">
            <a class="nav-link" href="#">
                <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.RELATORIOS)</i>
                <p>Relatórios</p>
            </a>
        </li>
    </ul>
</div>
