@model myFinancas.MVC.Models.Domain.CartaoModel
@using myFinancas.MVC.Models.Domain;
@using myFinancas.MVC.Models.Enuns;
@{
    ViewBag.Title = "Cartões";
    List<CartaoModel> Cartoes = ViewBag.Cartoes;
}

<script type="text/javascript">
    function navegarTo(Url) {
        $.ajax({
            url: Url,
            method: 'GET',
            success: function (data) { alert(data); }
        });
    }
</script>

@*<div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Novo Cartão</h4>
                    <p class="card-category">Criar um novo cartão</p>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Salvar", "Cartao", null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nome, new { Class = "bmd-label-floating" })
                                    @Html.TextBoxFor(model => model.Nome, new { Class = "form-control", required = true })
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.Bandeira, new { Class = "bmd-label-floating" })
                                <select id="inputState" name="Bandeira" class="form-control" style="background-color: #202940; color: #fff" required>
                                    <option selected>Choose...</option>
                                    <option value="Mastercard">@EnumExtensions.TipoPontoToDescriptionString(TipoBandeira.MASTERCARD)</option>
                                    <option value="Maestro">@EnumExtensions.TipoPontoToDescriptionString(TipoBandeira.MAESTRO)</option>
                                    <option value="Visa">@EnumExtensions.TipoPontoToDescriptionString(TipoBandeira.VISA)</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                        <div class="clearfix"></div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Cartões</h4>
                            <p class="card-category">Lisa de todos os cartões</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Bandeira
                                            </th>
                                            <th class="text-center">
                                                Ação
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (CartaoModel Cartao in Cartoes)
                                        {
                                            <tr>
                                                <td>
                                                    @Cartao.Id
                                                </td>
                                                <td>
                                                    @Cartao.Nome
                                                </td>
                                                <td>
                                                    @Cartao.Bandeira
                                                </td>
                                                <td style="width: 150px;">
                                                    <button type="button" rel="tooltip" title="Detalhes"
                                                            class="btn btn-white btn-link btn-sm">
                                                        <i class="material-icons">description</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remover"
                                                            onclick="MensagemConfirma('Ateção', 'Deseja apagar o cartão @Cartao.Nome?', '@Url.Action("Remover", "Cartao", new { id = Cartao.Id })')"
                                                            class="btn btn-white btn-link btn-sm">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>