@model myFinancas.MVC.Models.Domain.CompradorModel
@using myFinancas.MVC.Models.Domain;
@using myFinancas.MVC.Models.Enuns;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CompradorModel> Compradores = ViewBag.Compradores;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Novo Comprador</h4>
                    <p class="card-category">Adicionar um novo comprador</p>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Salvar", "Comprador", null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 12px;">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nome, new { Class = "bmd-label-floating" })
                                    @Html.TextBoxFor(model => model.Nome, new { Class = "form-control", required = true })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { Class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Adicionar</button>
                        <div class="clearfix"></div>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Compradores</h4>
                            <p class="card-category">Lista de todos os Compradores</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Nome
                                            </th>
                                            <th class="text-center">
                                                Ação
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (CompradorModel Comprador in Compradores)
                                        {
                                            <tr>
                                                <td>
                                                    @Comprador.Id
                                                </td>
                                                <td>
                                                    @Comprador.Nome
                                                </td>
                                                <td align="center" style="width:250px">
                                                    <button type="button" rel="tooltip" title="Editar"
                                                            class="btn btn-white btn-link btn-sm">
                                                        <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.EDITAR)</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Detalhes"
                                                            onclick="location.href='@Url.Action("Detalhes", "Comprador", new { id = Comprador.Id })'"
                                                            class="btn btn-white btn-link btn-sm">
                                                        <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.DETALHES)</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remover"
                                                            onclick="MensagemConfirma('Ateção', 'Deseja remover o comprador @Comprador.Nome?', '@Url.Action("Remover", "Comprador", new { id = Comprador.Id })')"
                                                            class="btn btn-white btn-link btn-sm">
                                                        <i class="material-icons">@EnumExtensions.EnumToDescriptionString(TipoIcone.REMOVER)</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalDetalhes"></div>

@section Scripts {
    @Html.Partial("_ModalFuncao")
}